<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<h1 style="text-align:center;color:red">DETAILS</h1>
<pre style="font-size:20px;">We are a group of volunteers who review and approve themes submitted to be included in the official WordPress Theme directory.

We do license, security, and code quality reviews.

We help build and maintain default themes.

The primary focus of the team is to help theme authors transition to block-based themes.

If this sounds interesting, read more about the team here. Check out our guide for new reviewers and the frequently asked questions.

Handbooks and review requirements
The team maintains the official Theme Review Requirements, the Theme Unit Test Data, and helps the documentation team with the Theme Developer Handbook.

Coding standards and plugins
We maintain the WPThemeReview Standard for PHP_CodeSniffer, the Theme Sniffer plugin and Theme Check

Code Packages
We have code packages for themes available for use on Github and Packagist

Communication
</pre>
</body>
</html>